        /*BUTTONS*/
        .btn-xlarge {
            padding: 17px 31px;
            font-size: 22px; //change this to your desired size
            line-height: normal;
            -webkit-border-radius: 8px;
               -moz-border-radius: 8px;
                    border-radius: 8px;

            border-color: #61c0ec;
        }

        .btn.sharp {
          padding: 21px 15px;
        }



        /*PANEL*/
        .panel > .panel-heading {
            background-image: none;
            color: white;
            height: 50px;

        }

        .panel-body {
            height: 100%;
        }

        .panel > .panel-footer {
            background-image: none;
            color: white;
            height: 50px;

        }

        /*FOOTER*/
        #footer{
          text-align: center;
          color: white;
          font-size: 10px;
          background: #61c0ec;
          padding-top: 5px;
          padding-bottom: 5px;
          width:100%;
          bottom:0px;
          left:0;
        }

        /*LOGIN CONFIGURATION PAGE*/
        .form-login {
        	max-width: 330px;
        	margin: 10px auto 0;
        	background: #fff;
        	border-radius: 5px;
        	-webkit-border-radius: 5px;
        }

        .form-login h2.form-login-heading {
        	margin: 0;
        	padding: 25px 20px;
        	text-align: center;
        	background: #337ab7;
        	border-radius: 5px 5px 0 0;
        	-webkit-border-radius: 5px 5px 0 0;
        	color: #fff;
        	font-size: 20px;
        	text-transform: uppercase;
        	font-weight: 300;
        }
        .login-wrap {
        	padding: 20px;
        }
        .login-wrap .registration {
        	text-align: center;
        }
        .login-social-link {
        	display: block;
        	margin-top: 20px;
        	margin-bottom: 15px;
        }

        #menu{
          padding-bottom: 50px;
        }

        .jumbotron {
          margin-bottom: 0px;
          background-image: url(../img/jumbotronbackground.jpg);
          background-position: 0% 25%;
          background-size: cover;
          background-repeat: no-repeat;
          background-color: #afe0ef;
          color: #002651;
        }

        .profile-avatar {
            padding: 20px 20px;
            float: left;
        }

        .profile-image {
           border-top-left-radius: 100px;
           border-top-right-radius: 100px;
        }


        .profile-avatar img {
            border-radius: 50%;
            border: 2px solid #e7e7e2;
        }


        #anioMesForm.selectContainer .form-control-feedback,
        #anioMesForm.inputGroupContainer .form-control-feedback {
            right: -15px;
        }
